* {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html {
    box-sizing: border-box;
    font-size:62.5%;
    height:100%;
}

body {
    background: linear-gradient(#00B4DB, #0083B0);
    height:100%;
}